# Sample environment values file.
DOMAINS=terpau.com
VIRTUAL_ALIASES=s@terpau.com s@terpau.com\n@terpau.com s@terpau.com
VIRTUAL_MAILBOXES=s@terpau.com terpau.com/s
USERS=s@terpau.com:{PLAIN}s::::::

